<div class="azul">

  <div [hidden]="!esta_activo">
    <button (click)="mostrar()">Ocultar Carrito</button>
    <p>Carrito</p>
    <div *ngFor="let item of carritoService.carritoCompras">
      <ul class="negro">
        Tienda: {{item.nombreTienda}}
        <li>
          Articulo: {{item.valor}}
        </li>
        <li>
          Total: {{item.cantidad}}
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="!esta_activo">
    <button (click)="mostrar()">Mostrar Carrito</button>
  </div>
</div>
