<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="contenedor-img"  (mouseenter)="cambiarEstadoMostrar()" (mouseleave) ="cambiarEstadoMostrar()">

  <img [src]="portadaUrl" class="box-image" alt="" />
  <div *ngIf="estadoMostrarDetalle" class="detalle">
    <div class="descripcion">
        <h6>{{nombre}}</h6>
        <span class="clasificacion">{{clasificacion}}+</span>  <span>  {{duracion}}</span>
      <br>
        <span *ngFor="let categoria of categorias">
            &#9679;{{categoria}}
        </span>
    </div>

    <div class="acciones" >
      <button  class="btn redondo fa fa-thumbs-up btn-block"></button>
      <button  class="btn redondo fa fa-thumbs-down btn-block"></button>
      <button *ngIf="!estaEnLista" (click)="agregarLista()" class="btn redondo fa fa-plus btn-block"></button>
      <button *ngIf="estaEnLista" (click)="quitarLista()" class="btn redondo fa fa-minus btn-block"></button>
    </div>


  </div>
</div>
