<h1 [class]="clase">Titulo {{title}}</h1>

<button (click)="mostrar(true)">Mostrar</button>
<button (click)="mostrar(false)">Ocultar</button>



<div class="contenedor">

  <div class="row">
    <div class="col-md-3">
      Titulo
    </div>
    <div class="col-md-6 texto-derecha">
      <div class="item-menu">Menu</div>
      <div class="item-menu">Inicio</div>
      <div class="item-menu">Peliculas</div>
      <div class="item-menu">Tienda</div>
      <div class="item-menu">DC</div>
      <div class="item-menu">Marvel</div>
    </div>


    <div class="col-md-3">
      Login
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 texto-derecha">
      LISTAS
    </div>
    <div class="col-md-9">
      CONTENIDO
    </div>
  </div>
  <div class="row">
    <!--
      <!-- col-tamanio-valor -> -->
      <!-- tamanio -> sm - md - lg -->
      <!-- valor -> 1,2,3...12 -->
      <!-- col-md-6 -->
      <!-- col-lg-3 -->

    <div class="col-sm-1">1</div>
    <div class="col-sm-1">2</div>
    <div class="col-sm-1">3</div>
    <div class="col-sm-1">4</div>
    <div class="col-sm-1">5</div>
    <div class="col-sm-1">6</div>
    <div class="col-sm-1">7</div>
    <div class="col-sm-1">8</div>
    <div class="col-sm-1">9</div>
    <div class="col-sm-1">10</div>
    <div class="col-sm-1">11</div>
    <div class="col-sm-1">12</div>

  </div>

  <div class="row">
    2
  </div>

  <div class="row">
    3
  </div>

  <div class="row">
    4
  </div>
</div>
<!--
<pre>
  {{_carritoService.carritoCompras | json }}
</pre>
-->
<!--
<app-mostrar-carrito>

</app-mostrar-carrito>

<div *ngIf="estaMostrando">
<app-item-galeria *ngFor="let flor of arregloFloresJS"
                   [textoBoton]="flor.nombre"
                  [titulo]="flor.titulo"
                  [notas]="flor.notas"
                  (cambioCalvo)="cambioCalvo($event)"
                  (cambioHomero)="cambioHomero($event)">

</app-item-galeria>
</div>
-->
