<div class="fixed-top">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tienda</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/carrito']"><mat-icon mat-list-icon>shopping_cart</mat-icon></button>
    <button mat-button [routerLink]="['/compras']">Compras</button>
    <button mat-button [routerLink]="['/productos']">Productos</button>
    <button mat-button [routerLink]="['/producto/registro']">Registrar Producto</button>
  </mat-toolbar-row>
</mat-toolbar>
</div>


<div class="container" style="margin-top: 75px">
  <!--
  <a href="http://localhost:1337/descargarArchivo/1" target="_blank">Descargar</a>
  <label for="imagen" class="boton">Subir Imagen</label>
  <input
    hidden="true"
    type="file" name="imagen" id="imagen" (change)="seleccionarArchivo($event)">
  <h2>Nombre arhivo: {{archivo?.name}}</h2>
  <button (click)="enviarArchivo()" [disabled]="!archivo">Enviar</button>
  -->
  <router-outlet></router-outlet>
</div>
