
<div class="estreno-image-contenedor" >
  <img [src]="portadaUrl" alt="" class="estreno-image-contenedor">

  <div class="transi">

  </div>
  <div class="info">
    <div>
      <img [src]="logo_titulo" alt="" class="logo-titulo-image">
    </div>
    <div class="acciones">
      <button class="btn boton-flat fa fa-play"> Reproducir</button>
      <button class="btn boton-flat fa fa-plus"> Mi Lista</button>
    </div>

    <div class="descripcion">
      <p>{{descripcion}}</p>
    </div>
  </div>
</div>
